.header {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  background-color: #202040;
  color: white;
  margin-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

nav {
  width: 40%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

h1.logo {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.7s;
}
a:hover {
  color: #40bec7;
}

ul li {
  list-style: none;
}
span.user-name {
  color: #40bec7;
}
